html {
  background: url(../images/storagedisk.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.resumebox {
    background-color: rgba(0,0,0,0.3);
}
.picbox{
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,0.4);
    padding: 50px;
    color: white;
    margin: 0, auto;
}
.prof-pic{
    border-radius: 65%;
    height: 200px;
    width: 200px;

}
